<script lang="ts">
    import { onMount, createEventDispatcher } from "svelte";
    import ResultArea from "./ResultArea.svelte";
    import Decoder from "./Decoder";

    const dispatch = createEventDispatcher();

    let divElement: HTMLElement;
    let imgElement: HTMLImageElement;
    let canvasElement: HTMLCanvasElement;
    let decoder: Decoder;
    let decoded: string;

    onMount(() => {
        getFocus();
        decoder = new Decoder(imgElement, canvasElement);
    })

    function getFocus() {
        divElement.focus();
    }

    /* https://stackoverflow.com/questions/6333814/how-does-the-paste-image-from-clipboard-functionality-work-in-gmail-and-google-c */
    function onPaste(pasteEvent: ClipboardEvent) {
        emptyPasteArea();

        let items: DataTransferItemList = pasteEvent.clipboardData.items;

        for (let index in items) {
            let item = items[index];
            if (item.kind === 'file') {
                setImgSource(item.getAsFile());
                dispatch("message", { "image": imgElement });
            }
        }
    }

    function emptyPasteArea() {
        divElement.replaceChildren() ;
        decoded = "";
    }

    function setImgSource(blob: Blob) {
        let reader = new FileReader();

        reader.onload = function (event: ProgressEvent<FileReader>) {
            imgElement.src = event.target.result.toString();
        }; 

        reader.readAsDataURL(blob);
    }

    function onLoad() {
        canvasElement.width = imgElement.width;
        canvasElement.height = imgElement.height;
        decoded = decoder.getDecoded();
        dispatch("message", { "decoded-text": decoded });
    }
</script>

<div
    bind:this={divElement}
    class="paste-area"
    role="region"
    on:paste={onPaste}
    on:click={emptyPasteArea}
    on:keydown={emptyPasteArea}
    on:mouseenter={getFocus}
    on:mouseleave={() => divElement.blur()}
    contenteditable>
</div>

<br>

{#if decoded}
    <ResultArea bind:decoded={decoded} />
{/if}

<img
    data-testid="img"
    bind:this={imgElement} 
    on:load={onLoad}
    alt="QR code"
    hidden />

<canvas
    data-testid="canvas"
    bind:this={canvasElement}
    hidden />

<style>
    .paste-area {
        width: 20em;
        height: 15em;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.20);
        border: 2px solid #888888;
        background-image: url("/static/paste-regular.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 1em;
        caret-color: transparent;
        overflow: scroll;
    }
</style>