<script lang="ts">
    import { onMount, createEventDispatcher } from "svelte";
	import { fade } from 'svelte/transition';

    export let decoded: string;

    const dispatch = createEventDispatcher();

    let buttonLabel: string;
    let copyConfirm: boolean = false;

    onMount(() => {
        try {
            //@ts-ignore
            buttonLabel = browser.i18n.getMessage("copy");
        } catch {
            buttonLabel = "[Copy]";
        }
    })

    function onClick() {
        navigator.clipboard.writeText(decoded);
        dispatch("message", { copied: decoded });
        copyConfirm = true;
        setTimeout(() => copyConfirm = false, 500);
    }
</script>

<textarea
    class="result-area"
    bind:value={decoded} 
/>

<br>

<button 
    class="copy-button" 
    on:click={onClick} 
    type="button"
    title={buttonLabel}
>

    {#if copyConfirm}
        <span class="confirm-icon" transition:fade>📋</span>
    {/if}
</button>

<style>
    .result-area {
        width: 100%;
        min-width: 20em;
        min-height: 5em;
        background-color: rgba(0, 0, 0, 0.20);
        border: 2px solid #888888;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 1em;
    }

    .confirm-icon {
        float: right;
        margin-right: -1em;
        height: 1em;
        margin-top: -1em;
    }

    .copy-button {
        border-radius: 50%;
        height: 2em;
        width: 2em;
        background-color: rgba(0, 0, 0, 0.20);
        background-image: url("/static/copy-solid.svg");        
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 1em;
        margin: auto;
    }
</style>