<script lang="ts">
    import { onMount } from "svelte";
    import PasteArea from "./lib/PasteArea.svelte";

    let instruction: string;

    onMount(() => {
        try {
            //@ts-ignore
            instruction = browser.i18n.getMessage("instruction");
        } catch {
            instruction = "[Paste the QR code image]";
        }
    })
</script>

<main>
    <h1>QR 2 Text</h1>

    <div>

        <p title="instruction">{instruction} :</p>

        <br>

        <PasteArea />

    </div>
</main>

<style>
    h1 {
        font-size: x-large;
        color: #5b0000;
    }
    @media (prefers-color-scheme: dark) {
      h1 {
        color: #ccc;
      }
    }
</style>
